/* Your styles should be mobile-first and responsive */

/**
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example:
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
  *
*/

/** copy from here down*/
.board{
    display: flex;
    flex-flow: row;
    font-size:1.2em;
    color:black;
}

.score {
    flex: 1;
    text-align: start;
    padding-left: 1rem;

}

.prog {
    flex: 1;
    text-align: end;
    padding-right: 1rem;

}

h1 {
    font: ;
    color:black;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

header{
    border-radius: 1rem;
    background-color:rgb(248, 210, 136);
    width: clamp(23ch, 50vw, 46ch);
    margin: 0rem 1rem ;

}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    place-items: center;
    font-family:  Verdana, Geneva, sans-serif;
  }

  .visual {
    border-radius: 25rem;
    height: 100px;
    width: 100%;
    background:rgb(225, 235, 250, .8 );
    margin: 0.5rem 0;
    place-items: center;
  }

  .card {
    border-radius: 2rem;
    width: clamp(23ch, 50vw, 46ch);
    display: flex;
    flex-direction: column;
    background:rgb(255, 223, 122, .8);
    padding: 1rem;
    place-content: center;
  }

  .centerme{
    place-items: center;
    text-align: center;

  }

  .answercontainer, .buttoncontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 0em;
    margin-right: 3em;

}


button {
  box-shadow: 3px 4px 0px 0px #899599;
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color:rgb(207, 217, 219);
  border-radius:15px;
  flex: 1;
  cursor:pointer;
  color:black;
  font-family:Arial;
  font-size:1.2rem;
  margin:1rem 1rem;
  width: 12rem;
  text-decoration:none;
  text-shadow:0px 1px 0px #898a94;

}


  ul li{
      align-items: flex-start;
      list-style-type: none;
  }

/** copy from here up*/
